.App {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.chart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 5px;
}


.main-form{
  align-items: left; 
  width: 80%;
}

h1, h2 {
  text-align: center;
}

input[type=text] {
  /* padding:10px; */
  width: 50%;
  margin:10px 0; 
}



input[type=radio] {
  margin:10px 10px; 
}

button {
  width: 150px;
}

@media all and (max-width: 850px){
  input[type=text] {
    /* padding:10px; */
    width: 100%; 
  }
  button {
    width: 100%;
  }
 
}

.form-inputs{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.error {
  color: red;
  font-weight: bold;
}


